
################################################################################
# Added by UiPath Studio
# Prevent caching and local artifacts from being committed
################################################################################
.local
Data
################################################################################
# End of UiPath Studio common ignores
################################################################################
